<nav class='post-list'>
<% @site.posts.group_by {|x| x.date.year }.each do |year, posts| %>
  <h3><%= year %></h3>
  <% posts.each do |post| %>
    <div>
      <h3 class='title'><a href="<%= post.url %>"><%=h post.title %></a></h3>
      <p class='date'><%= post.date.strftime("%b %-e, %Y") %></p>
    </div>
  <% end %>
<% end %>
</nav>
