/* Copy colors from charts.css so we can use them elsewhere */
body {
  --color-1: rgba(240, 50, 50, 0.75);
  --color-2: rgba(255, 180, 50, 0.75);
  --color-3: rgba(255, 220, 90, 0.75);
  --color-4: rgba(100, 210, 80, 0.75);
  --color-5: rgba(90, 165, 255, 0.75);
  --color-6: rgba(170, 90, 240, 0.75);
  --color-7: rgba(180, 180, 180, 0.75);
  --color-8: rgba(110, 110, 110, 0.75);
  --color-9: rgba(170, 150, 110, 0.75);
  --color-10: rgba(130, 50, 20, 0.75);

  --serif-font: "Noto Serif",serif;
  --sans-font: "Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
}

article, .book-summary, .recommendations {
  border: none;
  font-family: var(--serif-font);
}

header h1, article h1, article h2, article h3, article h4, article th {
  font-family: var(--sans-font);
}

a:has(> code), a:visited:has(> code) {
  color: var(--code);
}
/* INDEX PAGE */

.post-list .title {
  margin-bottom: 0;
  margin-top: 0.5em;
  font-size: 1.2rem;
  font-family: var(--serif-font);
  font-weight: normal;
}
.post-list .date {
  margin-top: 0;
  font-size: 1.0rem;
  font-family: var(--serif-font);
}

.icon {
  vertical-align: sub;
  padding-right: .25rem;
  display: inline-block;
  width: 1em;
  height: 1.3em;
  margin-right: 0.2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

header.page-header {
  /* align-content: center; */
  background-size: cover;
  background-position: center;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  color: white;
  background-color: #555;
}

.page-index .page-header {
  background-image: url("/images/me-pointing.jpg");
}

header.page-header > nav a, .page-index header > nav a:visited {
  color: white;
}
header.page-header > nav a:hover {
  border-color: white;
}

header.page-header > nav {
  backdrop-filter: opacity(0.5);
  background-color: rgba(0,0,0,0.5);
}

header.page-header > nav p {
  margin-bottom: 0;
  padding-bottom: 1em;
}
.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* BOOK INDEX */

.book-index .page-header {
  background-image: url("/images/book-header.jpg");
}

nav.book-list {
  margin-bottom: 1em;
}

/* TODO: Mobile friendly */
.book-summary .date {
  white-space: nowrap;
}
.book-summary .title {
  text-transform: capitalize
}

.yearly-summaries {
  margin-block-start: 1rem;
}

.year-total-summary {
  margin-top: 2rem; /* Make room for negatively positioned labels */
}
.year-total-summary td:nth-of-type(1) { --color: var(--color-2) }
.year-total-summary td:nth-of-type(2) { --color: var(--color-1) }

.yearly-summaries .charts-css.genre-legend li:nth-of-type(1)::before { background-color: var(--color-2) }
.yearly-summaries .charts-css.genre-legend li:nth-of-type(2)::before { background-color: var(--color-1) }

.year-genre-summary td:nth-of-type(1) { --color: var(--color-1) }
.year-genre-summary td:nth-of-type(2) { --color: var(--color-3) }
.year-genre-summary td:nth-of-type(3) { --color: var(--color-4) }
.year-genre-summary td:nth-of-type(4) { --color: var(--color-5) }
.year-genre-summary td:nth-of-type(5) { --color: var(--color-6) }
.charts-css.genre-legend li:nth-of-type(1)::before { background-color: var(--color-1) }
.charts-css.genre-legend li:nth-of-type(2)::before { background-color: var(--color-3) }
.charts-css.genre-legend li:nth-of-type(3)::before { background-color: var(--color-4) }
.charts-css.genre-legend li:nth-of-type(4)::before { background-color: var(--color-5) }
.charts-css.genre-legend li:nth-of-type(5)::before { background-color: var(--color-6) }

.book-summary {
  --width: 0.3em;
  padding-left: calc(0.5em);
  margin-left: calc(-0.5em - var(--width));
  border-left: white var(--width) solid;
  margin-bottom: 2px;
}
.book-summary.non-fiction { border-color: var(--color-1) }
.book-summary.sci-fi { border-color: var(--color-3) }
.book-summary.fantasy { border-color: var(--color-4) }
.book-summary.literature { border-color: var(--color-5) }
.book-summary.other { border-color: var(--color-6) }

.charts-css.genre-legend { margin-top: 1em }

.year-group.first h3 { margin-top: 0 }

.yearly-summaries table.year-total-summary caption {
  margin-bottom: 1.2rem;
}
.year-total-summary .data {
  margin-top: -1rem;
  font-size: 0.6rem;
  font-family: var(--sans-serif);
}

.yearly-summaries table.charts-css {
  height: 150px;
  margin-top: 5px;
}

.legend-inline {
  width: fit-content
}

.legend-inline li {
  white-space: nowrap;
  font-size: 0.7rem;
  font-family: var(--sans-serif);
}

.yearly-summaries table caption {
  font-size: 0.8em;
}

.yearly-summaries tbody tr th {
  font-size: 0.7rem;
  white-space: nowrap;
}

.year-group p.recommendations {
  margin-top: -1rem;
}

/* BOOK SHOW */

.category-dd {
  text-transform: capitalize;
}

.rating, .book-summary .date { font-size: 80% }
.author { font-size: 60% }

.title-and-author {
  line-height: 1.0;
  display: inline-block;
}
.date-and-rating {
  display: inline-block;
}
.rating {
  display: inline-block;
  width: 78px;
}
.book-summary .date {
  display: inline-block;
  width: 100px;
}

@media only screen and (max-width: 720px) {
  .book-summary {
    margin-bottom: 1em;
  }
  .title-and-author {
    line-height: 1.0;
    display: block;
  }
}

/* BLOCK QUOTES */

/* Most block quotes are going to be a single paragraph, and without this
 * styling they have redundant margin */
blockquote p:first-child { margin-block-start: 0em; }
blockquote p:last-child { margin-block-end: 0em; }

/* TABLES */
td, th {
  border: none;
  padding: 0;
  padding-right: 1em;
}

table.breakdown { font-family: monospace; width: 100% }

/* BOOK REVIEWS */

img.cover {
  border-radius: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reading-analysis {
  margin-top: 2rem; /* Make room for negatively positioned labels */
}

.reading-analysis table.charts-css {
  height: 150px;
}

.ratings-histogram {
  width: 25%;
}

.pages-histogram {
  width: 65%;
}

.reading-analysis > div {
  display: flex;
}

.reading-analysis .data {
  margin-top: -1rem;
  font-size: 0.6rem;
  font-family: var(--sans-serif);
}

.reading-analysis tbody tr th {
  font-size: 0.6rem;
  white-space: nowrap;
}

figure.reading-analysis table {
  --color: var(--color-2);
}

.reading-analysis table td {
  /*border-radius: 5px 5px 0 0;*/
  /*border: 1px solid var(--border);*/
}

/* DEFINITION LISTS */

/* https://stackoverflow.com/a/63291972/379639 */
dl {
  display: grid;
  grid-template-columns: auto 100%;
}

dt {
  grid-column: 1;
}

dd {
  grid-column: 2;
  margin-inline-start: 20px;
}

/* IMAGE STRIPS */

figure.image-strip img { width: 49% }

.image-strip-2-to-1 img:nth-child(1) { width: 63%; }
.image-strip-2-to-1 img:nth-child(2) { width: 35.5%; }

.image-strip-1-to-2 img:nth-child(1) { width: 35.5%; }
.image-strip-1-to-2 img:nth-child(2) { width: 63%; }

/* FEATURE IMAGE AND OVERLAY */
@media only screen and (max-width: 720px) {
  header > nav .featured-image-credit {
    display: none;
  }
}

.footer-image-credit {
  font-size: 1rem;
}

.featured-image-credit {
  position: absolute;
  bottom: 0px;
  right: 5px;
  color: white;
  opacity: 0.3;
  font-family: var(--serif-font);
  font-size: 80%;
}

.featured-image-credit a {
  color: white;
  border: none;
  margin: 0;
  padding: 0;
}

/* POST HEADER */
.post-header h1 {
  margin-bottom: 0.2em;
  text-align: center;
}

.post-header .date {
  text-align: center;
  text-transform: uppercase;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #d9d9d9;
  margin-top: 0;
}

.tiktok-strip blockquote {
  border: none;
  padding: 0;
}

/* YEARLY ARCHIVES */

nav.yearly-archive {
  text-align: center;
  color: #d9d9d9;
}

/* FOOTER */

/* Override simple.css defaults */
body > footer {
  border: none;
  margin-top: 0;
}

/* legacy stuff here for weird image stuff */
center img, center iframe {
  display: block;
}

em {
    padding: 1px 2px;
    border-radius: 2px;
    font-style: italic;
}

.image-strip {
    text-align: center;
    margin-bottom: 1em;
}
.image-strip img {
    display: inline;
    margin-top: 0;
}

/* MUSIC GRAPHS REVIEW 2022 */

.music-punchcard-legend, .music-analysis table.charts-css {
  --color-3: var(--color-4);
}

.music-analysis table.charts-css {
  height: 200px;
}

.music-analysis .data {
  margin-top: -1rem;
  font-size: 0.6rem;
  white-space: nowrap;
  font-family: var(--sans-serif);
}

.music-analysis tbody tr th {
  font-size: 0.7rem;
  white-space: nowrap;
}

/* RUNNING */

.run-index .page-header {
  background-image: url("/images/running-header.jpg");
}

.run-index header.page-header > nav {
  backdrop-filter: opacity(0.3);
  background-color: rgba(0,0,0,0.3);
}

table.bests {
  font-size: 90%
}
