article {
  border: none;
  font-family: "Noto Serif",serif;
}

header h1, article h1, article h2, article h3, article h4 {
  font-family: "Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
}

/* INDEX PAGE */

.post-list .title {
  margin-bottom: 0;
  margin-top: 0.5em;
}
.post-list .date {
  margin-top: 0
}

.icon {
  vertical-align: sub;
  padding-right: .25rem;
  display: inline-block;
  width: 1em;
  height: 1.3em;
  margin-right: 0.2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

header.page-header {
    /* align-content: center; */
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    color: white;
    background-color: #555;
}

.page-index .page-header {
  background-image: url("/images/me-pointing.jpg");
}

header.page-header > nav a, .page-index header > nav a:visited {
  color: white;
}
header.page-header > nav a:hover {
  border-color: white;
}

header.page-header > nav {
  backdrop-filter: opacity(0.5);
  background-color: rgba(0,0,0,0.5);
}

header.page-header > nav p {
  margin-bottom: 0;
  padding-bottom: 1em;
}
.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* TABLES */
td, th {
  border: none;
  padding: 0;
  padding-right: 1em;
}

table.breakdown { font-family: monospace; width: 100% }

/* IMAGE STRIPS */

figure.image-strip img { width: 49% }

.image-strip-2-to-1 img:nth-child(1) { width: 63%; }
.image-strip-2-to-1 img:nth-child(2) { width: 35.5%; }

.image-strip-1-to-2 img:nth-child(1) { width: 35.5%; }
.image-strip-1-to-2 img:nth-child(2) { width: 63%; }

/* FEATURE IMAGE AND OVERLAY */
@media only screen and (max-width: 720px) {
  header > nav .featured-image-credit {
    display: none;
  }
}

.footer-image-credit {
  font-size: 1rem;
}

.featured-image-credit {
  position: absolute;
  bottom: 0px;
  right: 5px;
  color: white;
  opacity: 0.3;
  font-family: "Noto Serif",serif;
  font-size: 80%;
}

.featured-image-credit a {
  color: white;
  border: none;
  margin: 0;
  padding: 0;
}

/* POST HEADER */
.post-header h1 {
  margin-bottom: 0.2em;
  text-align: center;
}

.post-header .date {
  text-align: center;
  text-transform: uppercase;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #d9d9d9;
  margin-top: 0;
}

.tiktok-strip blockquote {
  border: none;
  padding: 0;
}

/* YEARLY ARCHIVES */

nav.yearly-archive {
  text-align: center;
  color: #d9d9d9;
}

/* FOOTER */

/* Override simple.css defaults */
body > footer {
  border: none;
  margin-top: 0;
}

/* legacy stuff here for weird image stuff */
center img, center iframe {
  display: block;
}

em {
    padding: 1px 2px;
    border-radius: 2px;
    font-style: italic;
}

.image-strip {
    text-align: center;
    margin-bottom: 1em;
}
.image-strip img {
    display: inline;
    margin-top: 0;
}
